# build --@rules_python//python/config_settings:py_freethreaded
# build --@rules_python//python/config_settings:py_linux_libc
# build --@rules_python//python/config_settings:python_version=3.14

test --test_output=streamed
# common --subcommands
# common --verbose_failures
# common --sandbox_debug
